---
import Layout from '../layouts/Layout.astro';
import Sites from '../components/Bookmarks.svelte';
import { loadBookmarks } from '../utils/bookmarks';

const bookmarks = await loadBookmarks();
---

<Layout title="Welcome home, idiot.">
  <div class="container">
    <h1>Hello, World!</h1>
    <Sites {bookmarks} />
  </div>
</Layout>

<script is:inline>
  const nodes = document.querySelectorAll('[data-hotkey]');
  const hotkeys = [...nodes].map((node) => ({
    hotkey: node.dataset.hotkey,
    href: node.href,
  }));

  document.addEventListener('keydown', (evt) => {
    for (const { hotkey, href } of hotkeys) {
      if (evt.key.toLowerCase() === hotkey.toLowerCase()) {
        evt.preventDefault();
        window.location.href = href;
      }
    }
  });
</script>
