---
import Layout from '../layouts/Layout.astro';
import Sites from '../components/Bookmarks.svelte';
import { loadBookmarks } from '../utils/bookmarks';

const bookmarks = await loadBookmarks();
---

<Layout title="Welcome home, idiot.">
  <div class="container">
    <h1>Hello, World!</h1>
    <Sites {bookmarks} client:load />
  </div>
</Layout>
